# VS Code Settings
.vscode/

# Project
MDK-ARM/DebugConfig
MDK-ARM/RTE
MDK-ARM/Objects
MDK-ARM/clock.uvguix.TangXiang
MDK-ARM/clock.uvguix.tx_da
MDK-ARM/*.lst

# Software
Software/

Docs/05-Weather
